<div class="inner">
  <h4>Configuration</h4>
  <form ng-controller="SettingsCtrl">
    <div ng-show="neo4j.config.allow_outgoing_browser_connections">
      <h5>Messaging</h5>
      <div class="form-group">
        <label for="userName">Name
          <input id="userName" type="text" ng-model="settings.userName" ng-change="save()" class="form-control input">
        </label>
      </div>
      <div class="checkbox">
        <label for="shouldReportUdc">
          <input id="shouldReportUdc" type="checkbox" ng-model="settings.shouldReportUdc" ng-change="save()"><span>&nbsp; Share non-sensitive data?</span>
        </label>
      </div>
      <button ng-click="showMessenger()" class="btn btn-default btn-sm"> <span class="glyphicon glyphicon-envelope">&nbsp;Messenger</span></button>
    </div>
    <h5>User Interface</h5>
    <div class="form-group">
      <label>Theme</label>
      <div class="radio">
        <label>
          <input type="radio" name="themeRadio" id="theme1" value="normal" ng-model="settings.theme" ng-change="save()" checked="checked"><span>Normal</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="themeRadio" id="theme2" value="dark" ng-model="settings.theme" ng-change="save()"><span>Dark</span>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="themeRadio" id="theme3" value="outline" ng-model="settings.theme" ng-change="save()"><span>Outline</span>
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="initCmd">Initial Command
        <input id="initCmd" type="string" ng-model="settings.initCmd" ng-change="save()" class="form-control input">
      </label>
    </div>
    <h5>Preferences</h5>
    <div class="checkbox">
      <label for="shouldReportUdc">
        <input id="shouldReportUdc" type="checkbox" ng-model="settings.shouldReportUdc" ng-change="save()"><span>&nbsp; Help improve Neo4j? </span><a href="http://neo4j.com/legal/neo4j-user-experience/" class="fa fa-info-circle"> </a>
      </label>
    </div>
    <div ng-show="neo4j.enterpriseEdition" class="checkbox">
      <label for="storeCredentials">
        <input id="storeCredentials" type="checkbox" ng-model="settings.storeCredentials" ng-change="save()"><span>&nbsp; Save login credentials</span>
      </label>
    </div>
    <div class="checkbox">
      <label for="enableMotd">
        <input id="enableMotd" type="checkbox" ng-model="settings.enableMotd" ng-change="save()"><span>&nbsp; Enable MOTD feed</span>
      </label>
    </div>
    <h5>Network Connection</h5>
    <div class="form-group">
      <label for="maxExecutionTime">Max Execution Time
        <input id="maxExecutionTime" type="number" ng-model="settings.maxExecutionTime" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="form-group">
      <label for="heartbeat">Heartbeat
        <input id="maxExecutionTime" type="number" ng-model="settings.heartbeat" ng-change="save()" class="form-control input">
      </label>
    </div>
    <h5>Result Frames</h5>
    <div class="form-group">
      <label for="maxFrames">Max Frames
        <input id="maxFrames" type="number" ng-model="settings.maxFrames" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="form-group">
      <label for="maxHistory">Max History
        <input id="maxHistory" type="number" ng-model="settings.maxHistory" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="checkbox">
      <label for="scrollToTop">
        <input id="scrollToTop" type="checkbox" ng-model="settings.scrollToTop" ng-change="save()"><span>&nbsp; Scroll To Top</span>
      </label>
    </div>
    <h5>Graph Visualization</h5>
    <div class="form-group">
      <label for="maxNeighbours">Max Neighbors
        <input id="maxNeighbours" type="number" ng-model="settings.maxNeighbours" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="form-group">
      <label for="maxNodes">Max Nodes
        <input id="maxNodes" type="number" ng-model="settings.maxNodes" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="form-group">
      <label for="maxRows">Max Rows
        <input id="maxRows" type="number" ng-model="settings.maxRows" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="form-group">
      <label for="maxRawSize">Max Raw Size
        <input id="maxRawSize" type="number" ng-model="settings.maxRawSize" ng-change="save()" class="form-control input">
      </label>
    </div>
    <div class="form-group">
      <label for="refreshInterval">Refresh Interval
        <input id="refreshInterval" type="number" ng-model="settings.refreshInterval" ng-change="save()" class="form-control input">
      </label>
    </div>
  </form>
</div>