<div class="code-bar">
  <ul class="actions list-inline">
    <li dropdown="" ng-show="frame.type == &quot;http&quot;" class="dropdown"><a dropdown-toggle="" class="button fa fa-download dropdown-toggle"></a>
      <ul class="dropdown-menu">
        <li><a exportable ng-click="exportJSON(frame.response)">Download JSON</a></li>
      </ul>
    </li>
    <li dropdown="" ng-show="frame.type == &quot;shell&quot;" class="dropdown"><a dropdown-toggle="" class="button fa fa-download dropdown-toggle"></a>
      <ul class="dropdown-menu">
        <li><a exportable ng-click="exportText(frame.response)">Download TXT</a></li>
      </ul>
    </li>
    <li dropdown="" ng-show="frame.type == &quot;cypher&quot;" class="dropdown"><a dropdown-toggle="" class="button fa fa-download dropdown-toggle"></a>
      <ul class="dropdown-menu">
        <li><a exportable ng-click="exportGraphSVG()" ng-show="isActive(&quot;graph&quot;)">Export SVG</a><a exportable ng-click="exportPlanSVG()" ng-show="isActive(&quot;plan&quot;)">Export SVG</a><a exportable ng-click="exportGraphPNG()" ng-show="isActive(&quot;graph&quot;)">Export PNG</a><a exportable ng-click="exportPlanPNG()" ng-show="isActive(&quot;plan&quot;)">Export PNG</a><a exportable ng-click="exportJSON(frame.response.table._response)">Export JSON</a><a exportable ng-click="exportCSV(frame.response.table)">Export CSV</a></li>
      </ul>
    </li>
    <li><a ng-click="pin(frame)" ng-class="{selected: pinned}" tooltip-placement="bottom" tooltip="Pin at top" class="button fa fa-thumb-tack"></a></li>
    <li><a ng-click="toggleFullscreen(true)" tooltip-placement="bottom" tooltip="Fullscreen" ng-show="frame.fullscreenable" class="button fa fa-expand"></a></li>
    <li><a ng-click="frames.close(frame)" tooltip-placement="bottom" tooltip="Close" class="button fa fa-times-circle"></a></li>
  </ul>
  <div class="status"><span ng-if="frame.type == &quot;cypher&quot;" class="prompt code">$</span><span click-to-code="frame.input" class="code mono">{{frame.input | uncomment}}</span></div><a ng-click="toggleFullscreen(false)" class="close-fullscreen fa fa-compress"></a>
</div>