article.guide
  .container-fluid
    .row
      .col-sm-3
        h3 Guide Templates
        ul
          li 
            a(play-topic='grid-template') Basic grid
          li
            a(play-topic='slide-template') Slide deck
          li 
            a(play-topic='interactive-template') Interactive elements
